<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

    <div id="all">

        <header>

            {{ partial "nav.html" . }}

        </header>

        <div class="container-fluid">
            <div class="row" id="speaker-header">
                <div class="col-xs-12 col-md-10 col-md-offset-1 pb-50 speaker-header">
                    <h1 class="white">ABOUT THE FESTIVAL</h1>
                </div>
            </div>

        </div>


        <div class="container-fluid">
                
        <div class="row" id="about-main">


                <div class="col-xs-12 col-md-10 col-md-offset-1 pb-50 mt-10 stack">

                    <div class="row">
                        <div class="col-xs-12 col-md-9 mt-10">

                            {{ .Content }}

                            <div class="speakers__btn">
                                <a class="btn--cta" href="/participants">
                                    View our participants
                                </a>
                            </div>

                        </div>
                    </div>

                    

                    <div class="row">
                            <div class="about-svg-1">
                                    
                                                    </div>
                                                    
                        <div class="col-xs-12 col-md-9 mt-10">
                            <h3>Youth programme</h3>

                            <p>Our youth track empowers young black techies to travel in many lanes. It includes a tech fair
                                and making stations, and well as workshops on coding, robotics. We’ll also have dozens of
                                free kits from our supporters Makey Makey and Micro:bit. As we get closer to the festival,
                                even more exciting elements will be announced!</p>

                                <p>You can find out more by downloading our <a href="https://drive.google.com/a/afrotechfest.co.uk/file/d/1auaMy0kcb_GfSKbxzkehWDzmu0tNLVWY/view?usp=sharing"><b>youth pack</b></a>.</p>
                                <p>Download our <a href="https://drive.google.com/a/afrotechfest.co.uk/file/d/1vTSFCm1JW9FUJXzkU8gVVaJBTNgm0HZT/view?usp=sharing"><b>tech fair guidelines</b></a> for more information.</p>
                                {{ partial "youth-events.html" . }}

                            <h3>Digital installations</h3>
                            <p>The installations will be a collection of physical prototypes, photography, film and sound that
                                aims to promote the visibility of black people in tech.</p>

                            {{ partial "installations.html" . }}

                            <h3>Hackathon</h3>
                            <p>Running throughout Saturday, the hackathon will encourage developers, designers and experts to
                                use their knowledge to solve problems put forward by community groups.</p>

                            <h3> Hubs</h3>
                            <p>Hubs are zones across the venue dedicated to learning and conversation around specific themes.
                                This year’s themes are:</p>

                            <h4> Ethics</h4>
                            <p>Where technology meets our morals. Exploring AI, machine-learning, bias in algorithms and ‘racist’
                                tech.
                            </p>

                            <h4> Cryptoworld</h4>
                            <p>Journey into the murky world of data security, privacy and surveillance.</p>

                            <h4> Getting Ahead</h4>
                            <p>Starting up in the tech world. Focusing on start-ups, entrepreneurship and founders.</p>

                            <h4> Design</h4>
                            <p>Explore the importance of effective design in tech. Looking at prototyping, sketching, storyboarding,
                                Agile and UX.</p>

                            <h4> Makers and Crafters</h4>
                            <p>A space for exploring the world of hardware, modelling, knitting and more.</p>

                            <p>Our hub handlers will take care of their designated zone, helping to drive conversations, exercises
                                or debates over the course of the day.</p>

                        </div>
                    </div>
                </div>
            <!-- /.row -->
        </div>
            <!-- /.container -->

        </div>

        <div class="container-fluid">
            <div class="row" id="team">
                <div class="col-xs-12 col-md-10 col-md-offset-1 pb-50 mt-10 stack">
                        {{ partial "team.html" . }}
                    </div>
                </div>
         </div>


            {{ partial "footer.html" . }}
            
        </div>

        <!-- /#content -->


    <!-- /#all -->

    {{ partial "scripts.html" . }}

</body>

</html>