<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>
        
            <div class="container coc">
                    
                <div class="row">

                    <div class="col-md-12">

                        <div>                                
                          {{ .Content }}
                        </div>

                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

        <!-- /#content -->
        {{ partial "footer.html" . }}
        
    </div>
    
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
