<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

    <div id="all">

        <header>

            {{ partial "nav.html" . }}

        </header>

        <div class="container-fluid">
            <div class="row" id="speaker-header">
                <div class="col-xs-12 col-md-10 col-md-offset-1 pb-50 speaker-header">
                    <h1 class="white">PROGRAMME</h1>
                </div>
            </div>

        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1 pb-50 mt-10 stack">
                    {{ .Content }}
                </div>
            </div>
         </div>

        <div class="container-fluid">

            <div class="row atf-bgcolor--dark">

                <div class="col-md-10 col-md-offset-1" id="programme">

                    <h3>PROGRAMME OUTLINE</h3>

                    <div>
                        {{ partial "programme.html" . }}
                    </div>

                </div>

            </div>
                    <!-- /.row -->


            <div class="row">

                <div class="col-md-10 col-md-offset-1">
                    <h3>PARTIES</h3>
                    {{ partial "programme-parties.html" . }}
                </div>

                <!-- /.row -->
            </div>
            <!-- /.container -->

        </div>

            {{ partial "footer.html" . }}
            
        </div>

        <!-- /#content -->


    <!-- /#all -->

    {{ partial "scripts.html" . }}

</body>

</html>