<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

    <div id="all">

        <header>

            {{ partial "nav.html" . }}

        </header>

        <div class="container-fluid">
            <div class="row" id="speaker-header-youth">
                <div class="col-xs-12 col-md-10 col-md-offset-1 speaker-header"> 

                    <h1 class="white">YOUTH PROGRAMME</h1>
                </div>
            </div>

        </div>



        <div class="container-fluid animated fadeIn">

            <div class="row atf-bgcolor--beige">

                <div class="col-xs-12 col-md-10 col-md-offset-1 mt-10">
                    <div class="row">
                        <div class="col-xs-12 col-md-9 mt-10">


                            <div class="youth-programme__info">
                                <h2>
                                    WHO'S INVOLVED
                                </h2>
                                <p>The youth programme features groups from all over the UK who are working with young black people to introduce and encourage a curiosity of tech to a new generation of thinkers . We’re pleased to welcome Coders of Colour, South London Raspberry Jam, Momo Pixel and Rijole Bitata from S.T.E.A.M POWER.</p>
                            </div>
                        </div>


                    </div>



                <div class="col-md-10 col-md-offset-1 animated fadeIn">
                    <div>

                        {{ partial "youth-participants-all.html" . }}
                    </div>
                </div>
            </div>

            </div>
        </div>


        <div class="container-fluid animated fadeIn">

            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1 mt-10 stack">

                    <div class="row">
                        <div class="col-xs-12 col-md-9 mt-10">
                            {{ .Content }}

                        </div>
                    </div>
                </div>

            <!-- /.row -->

        </div>

        <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1 pb-50 mt-10 ">
        <div class="row" id="youth-programme">
                <div class="col-xs-12 col-md-9 mt-10">

                    {{ partial "youth-events.html" . }}
                    
                    <h4 style="color:#9F1D26;">A FOR THE ARTISTS</h4>
                    
                    <p>This track is for young people who are interested in front-end development, graphic design, designing interfaces or music hacking. If you’ve ever dreamed of designing a killer CSS animation, creating music out of data or character designs to share with your friends, this is the constellation is for you.</p>
                    
                    <h4 style="color:#B00C7A;">B FOR THE BUILDERS</h4>
                    
                    <p>This track is for young people who are interested in our ‘bring along your science/tech project’, where you'll exchange ideas and interact with other young people's projects/inventions. In the tech fair, you’ll show your design and development process, and what your invention aims to change or create in the world. And if you get stuck you could always ask for help from the people in your constellation.</p>
                    
                    <h4 style="color:#0859A1;">C FOR THE COMMUNITY ORGANISERS</h4>
                    
                    <p>This track is for young people who are interested in how technology can impact the world around them. We will look at ideas such as privacy, hacktivism, open source structures, accessibility and learn about some of the big ethical issues of our time. You’ll need a lot of people in this constellation.</p>
                    
                    <h4 style="color:#157E46;">D FOR THE DEVELOPERS</h4>
                    
                    <p>This track is for young people interested in back-end development. Here we’ll cover everything from github, Java and the command-line, through to creating the architecture needed to make your own game or robot. Any builder or inventor needs extra hands so this is constellation may be for you.</p>
                    
                    <h4 style="color:#B3480F;">E FOR THE EDUCATORS</h4>
                    
                    <p>Parents, teachers, youth group and social workers are invited to take part and be taught by the young people themselves on how to use the kits, interact with inventions and learn new ways of engaging your students or youth group. You want to change the process? This constellation is no joke!</p>
                    
                    <h4 style="color:#843E58;">I FOR THE INSTIGATOR</h4>
                    
                    <p>There is no box for this person. No one colour. They delve into all things and want to work and walk on all paths. We can't wait to meet you! All of you! What a constellation this will be!</p>
                    
                    <!-- /.row -->

                </div>
            </div>
            </div>

        </div>

            <!-- /.container -->

        </div>

        <!-- Modal -->
        <div class="modal__container">
            <div class="speakers__modal-overlay display__none" data-speaker-overlay></div>
            <div class="speakers__modal display__none" data-speaker-modal>
                <img class="speakers__modal-img" src="" data-speaker-modal-img/>
                <h3 data-speaker-modal-title></h3>
                <p class="bio-caption" data-speakers-modal-bio></p>
                <button class="button-close" data-speaker-close></button>
            </div>
        </div>

        {{ partial "footer.html" . }}

    </div>

    <!-- /#content -->

    </div>

    <!-- /#all -->

    {{ partial "scripts.html" . }}

</body>

</html>