  /* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }  */
  
  body {
    font-size: 16px;
    background-color: white;    
}


p {
    font-size: 1.2em;
    color: #061A25;
    orphans: 3;
}

h2 {
    font-weight: 300;
}

a {
    color: #F83C7A;
}

a:hover, a:focus {
    color: #F68D5D;
}

.stack {
    z-index: 2;
}

#home {
    color: #fff;
    height:100vh;
    min-height: 800px;
    /* padding-bottom:20em;   */
    /* background: -moz-linear-gradient(0% 50% 0deg, rgba(255, 81, 47, 1) 0%, rgba(221, 36, 118, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255, 81, 47, 1) 0%, rgba(221, 36, 118, 1) 100%);
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, rgba(255, 81, 47, 1)), color-stop(1, rgba(221, 36, 118, 1)));
    background: -o-linear-gradient(0deg, rgba(255, 81, 47, 1) 0%, rgba(221, 36, 118, 1) 100%);
    background: -ms-linear-gradient(0deg, rgba(255, 81, 47, 1) 0%, rgba(221, 36, 118, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF512F', endColorstr='#DD2476' ,GradientType=0)";
    background: linear-gradient(90deg, rgba(255, 81, 47, 1) 0%, rgba(221, 36, 118, 1) 100%); */
    opacity: 0.95;
    filter: alpha(opacity=90);
    background: url(../img/landing-bg.png) center center no-repeat fixed;
    background-size: cover;
    
}

.home-header {
    margin-top: 3.777rem;
    animation: fadein 1s ease-in normal;    
    }

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#about, #who, #submit, #team, #venue, #sponsors {
    min-height: 700px;
    height: 100%;
    
}

.visuals-canvas {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;    
    
}

.svg-container {
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    vertical-align: middle; 
    min-height: 800px;
    
} 

.svgcontent {
    width: 100%;
    vertical-align: top;
    overflow: hidden;
    margin: 0 auto;
    
}

 .patterns {
    height:0;
    padding-top:63.63%; /* 350px/550px */
    position: relative;
 }

.logo {
    display: inline-block;    
    margin-top: 1%;
    max-width: 50%;
}

.home-header h3 {
    font-family: "Source Sans Pro";
    font-weight: 400; 
    color: #ffffff;
    
}

p.lead {
    margin-top: 30px;
    font-family: "Source Sans Pro";
    letter-spacing: 1px;
    color: #ffffff;
}

.alert-success {
    color: #fff;
    background-color: #F68D5D;
}

textarea.form-control{
    height: 10.3em;
}
 
h4 {
    margin: 40px 0 0 0;
}

.box-image-text .image {
    min-height: 200px;
    max-height: 200px;
}

.box-simple {
    min-height: 230px;
}

.navbar ul.nav>li>a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.08em;
    color: #fff;
}

.navbar ul.nav>li>a {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar ul.nav>li>a:hover, .navbar ul.nav>li>a:focus {
    color: #ffffff;

}

.navbar ul.nav>li>a:hover:after, .navbar ul.nav>li>a:focus:after { 
    transform: scaleX(1);
}

.navbar ul.nav>li>a:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    z-index: 100;
    opacity: 1;
    background: #ffffff;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .4s ease-out;
}

.navbar ul.nav>li>a {
    font-family: "Source Sans Pro";
    font-weight: 400;
    border-top: 0;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}


#who,
#who h1 {
    background-color: #FBF7EE;
    color: #061A25;
    padding: 20px 0;
}

#submit {
    background: -moz-linear-gradient(0% 50% 0deg, rgba(224, 237, 58, 1) 0%, rgba(79, 240, 214, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(224, 237, 58, 1) 0%, rgba(79, 240, 214, 1) 100%);
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, rgba(224, 237, 58, 1)), color-stop(1, rgba(79, 240, 214, 1)));
    background: -o-linear-gradient(0deg, rgba(224, 237, 58, 1) 0%, rgba(79, 240, 214, 1) 100%);
    background: -ms-linear-gradient(0deg, rgba(224, 237, 58, 1) 0%, rgba(79, 240, 214, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0ED3A', endColorstr='#4FF0D6' ,GradientType=0)";
    background: linear-gradient(90deg, rgba(224, 237, 58, 1) 0%, rgba(79, 240, 214, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#E0ED3A', endColorstr='#4FF0D6', GradientType=1);
}

#sponsors {
background-color: #fff;
}

#team {
    background-color: #FBF7EE;

}

#contact p,
#contact h2,
.home-header h1,
.home-header h3,
.home-header h4 {
    color: #fff;
}

#venue {
  
    background-color: #4FF0D6;
}

#contact {
    background: -moz-linear-gradient(0% 50% 0deg, rgba(253, 116, 108, 1) 0%, rgba(255, 144, 104, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(253, 116, 108, 1) 0%, rgba(255, 144, 104, 1) 100%);
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, rgba(253, 116, 108, 1)), color-stop(1, rgba(255, 144, 104, 1)));
    background: -o-linear-gradient(0deg, rgba(253, 116, 108, 1) 0%, rgba(255, 144, 104, 1) 100%);
    background: -ms-linear-gradient(0deg, rgba(253, 116, 108, 1) 0%, rgba(255, 144, 104, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FD746C', endColorstr='#FF9068' ,GradientType=0)";
    background: linear-gradient(90deg, rgba(253, 116, 108, 1) 0%, rgba(255, 144, 104, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FD746C', endColorstr='#FF9068', GradientType=1);
}

#footer,
#copyright {
    background-color: #061A25;
    padding-left: 0 !important;
    padding-right: 0 !important;
    
}

.pl-50 {
    padding-left: 5%;
}

.pb-50 {
    padding-bottom: 5%
}

.mt-10 {
    margin-top: 1%;
}

div h2:first-child {
    padding-top: 40px;
}

.pattern-1 {
    max-width: 15%;
    top: 0;
    left: 470px;
}


.pattern-2 {
    max-width: 25%;
    top: 600px;
    left: -10px;

}


.pattern-4 {
    display: block;
    position: absolute;
    top: 10%;
    left: 80%;
    z-index: -1;
    min-width: 15%;
}

.pattern-16 {
    display: inline-block;
    position: absolute;
    padding-bottom: 10%;
    left: 65%;
    width: 35%;
    min-width: 30%;
}

.pattern-5 {
    max-width: 30%;
    top: 200px;
    left: 100px;
    
}

.pattern-6 {
    position: absolute;    
    max-width: 20%;
    top: 30px;
    left: 400px;
    opacity: 0.7;    
    animation: pulse 2s infinite ease-in normal;    
    
}

.pattern-6-1 {
    position: absolute;
    max-width: 12%;
    top: 600px;
    right: 500px;
    opacity: 0.8;
    animation: pulse 3s infinite ease-in-out normal;    
    
}

.pattern-6-2 {
    display: inline-block;
    position: absolute;
    left:-30%;
    min-width: 35%;
    
}

.pattern-33 {
    display: inline-block;
    position: absolute;
    left:40%;
    min-width: 15%;
    top: 30%;
}

.pattern-36 {
    display: inline-block;
    position: absolute;
    left:70%;
    min-width: 15%;
    top: 70%;
}

.pattern-8 {
    max-width: 2%;
    top: 10px;
    left: 200px;

}

.pattern-9 {
    max-width: 5%;
    top: 700px;
    left: 700px;
}

.pattern-13 {
    width: 60%;
    max-width: 3rem;
    top: 300px;
    left: 250px;
}


.pattern-42 {
    max-width: 13%;
    top: 0;
    left: 580px;
    animation: pulse 2s infinite ease-in normal;    
    
}


.pattern-44 {
    max-width: 5%;
    top: 400px;
    left: 1000px;
}

.pattern-45 {
    max-width: 5%;
    top: 900px;
    left: 1000px;
}



.pattern-28 {
    display: inline-block;
    position: absolute;
    top: 10%;
    right:0%;
    min-width: 20%;
}

.pattern-14 {
    display: inline-block;
    position: absolute;
    left: 60%;
    top: 60%;
    min-width: 20%;
}

.pattern-31 {
    display: inline-block;
    position: absolute;
    left: 70%;
    top: 90%;
    min-width: 10%;
}

.pattern-33 {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 20%;
    min-width: 10%;
}



@-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to { 
      -webkit-transform: rotate(20deg);
    }
  }



#submit h3 {
    font-weight: 300;
    border: none;
    margin-top: 30px;
    font-size: 24px;
}

#submit .heading {
    margin-bottom: 20px;
}

.btn-template-main {
    background: #F83C7A;
    box-sizing: border-box;
    color: #FFFFFF !important;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem 1.5rem;
    text-align: center;
    float: left;
    font-family: "Source Sans Pro";
    font-weight: 400;
    border-color: #F83C7A;
}

.btn-template-main:hover, 
.btn-template-main:focus {
    background: #F68D5D;
    border-color: #F68D5D;
}

.navbar-buttons .btn-template-main:hover, 
.navbar-buttons .btn-template-main:focus {
    background: #E51F6B !important;
    border-color: #fff;
}

button.read-more {
    background-color: transparent;
    border: 2px solid white;
    font-size: 1.3em;
    padding: 10px 20px;
    color: white;

}

button.read-more:hover,
button.read-more:focus {
    box-shadow: inset 0 0 0 1px #fff;
}


.pull-right i {
    margin-left: 20px;
    color: #F83C7A;
}

.pull-right i:hover, .pull-right i:focus {
    margin-left: 20px;
    color: #4FF0D6;
}

.pull-left {
    color: #fff;
    font-size: 14px
}

#contact div a {
    color: #fff;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

#footer,
#copyright {
    padding-left: 5%;
    padding-right: 5%;
}


.team-container {
    margin-top: 50px;
}

 .item.team img {
    width: 50%;
    margin: 0 auto !important;

}

.testimonials .item {
    padding: 10px;
}
.team-caption {
    font-size: 1em;
}

.owl-item {
    text-align: center;
}
.testimonials .item {
    background: none;
}

.testimonials .item img {
    display: inline-block;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.testimonials .item img:hover, 
.testimonials .item img:focus {
    max-width: auto;
    filter: none;
    -webkit-filter: none;
}

.sponsors .item img {
    display: inline-block;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    /* IE6-9 */
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    margin: 50px 20px 0 0;
}

.sponsors .item img:hover {
 
}

#map {
    height: 600px;
}


.owl-theme .owl-controls .owl-page span{
    background-color: #F83C7A !important;
}
