<footer>
    
        <img src="../img/aft-text.svg" width="250px">
    
    
        <!-- /.container -->
    </footer>
    
    <!-- /#footer -->
    
    <!-- *** FOOTER END *** -->
    
    <!-- *** COPYRIGHT ***
            _________________________________________________________ -->
    <div id="copyright">
        <div class="col-xs-12">
            {{ if isset .Site.Params "copyright" }}
            <p class="pull-left">{{ .Site.Params.copyright | safeHTML }}</p>
            {{ end }}
            <p class="pull-right">
                <a><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                <a><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                <a><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
    
            </p>
        </div>
    </div>
    
        <!-- /#copyright -->
    
        <!-- *** COPYRIGHT END *** -->