
<div class="home-header">
        <div class="row" align="center">
                <img src="img/aft-logo-white.svg" width="330" class="logo">
                
            <div class="col-xs-12">
                <h3> 26 – 27 January, 2018</h3>
                <h3> Rich Mix London, UK</h3>
            </div>
        </div>

        <div class="container">
            <div class="row" align="center">
                <div class="col-xs-12 col-sm-12">
                <h4> A two-day tech festival by and for black people of African and Caribbean heritage. Offering talks, workshops, 
                    installations and much more.</h4>
  
                   <a href="/#about"><button type="button" class="read-more">READ MORE</button></a>
                    
                </div>
            </div>   
            
            </div>
        </div>
