<img src="img/pattern-1.svg" width="220" class="pattern pattern-1">
<img src="img/pattern-2.svg" width="300" class="pattern pattern-2">

<svg class="pattern pattern-5" width="300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 195.09 97.55"><defs><linearGradient id="New_Gradient_Swatch_3" x1="482.56" y1="-868.85" x2="580.1" y2="-868.85" gradientTransform="translate(-771.3 -482.56) rotate(90)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#dfec3a"/><stop offset="1" stop-color="#4ff0d6"/></linearGradient></defs><title>pattern-5</title><g id="Layer_2" data-name="Layer 2">
    <g id="Header"><path d="M0,97.55a97.55,97.55,0,1,1,195.09,0" style="fill:url(#New_Gradient_Swatch_3)"/><circle cx="48.64" cy="21.32" r="15.01" style="fill:#fbf7ee"/><circle cx="166.08" cy="75.84" r="7.51" style="fill:#fbf7ee"/></g></g></svg>
<div class="row" align="center">
    <div class="col-xs-12">

        <img src="img/aft-logo-white.svg" width="350" class="logo">
        <h3> 26 – 27 January, 2018</h3>
        <h3> Rich Mix London </h3>
        <h4> A TECH FESTIVAL BY AND FOR BLACK PEOPLE<br> OF AFRICAN AND CARIBBEAN HERITAGE</h4>

    </div>
</div>