<div class="home-header">
    <!-- <div class="svg-container ">
        <div class="visuals-canvas">
                <object class="patterns pattern-1" data="img/svg-patterns/pattern-1.svg" type="image/svg+xml"></object>
                <object class="patterns pattern-2" data="img/svg-patterns/pattern-2.svg" type="image/svg+xml"></object>
                <object class="patterns pattern-5" data="img/svg-patterns/pattern-5.svg" type="image/svg+xml"></object>
                <object class="patterns pattern-6" data="img/svg-patterns/pattern-6.svg" type="image/svg+xml"></object>
                <object class="patterns pattern-7" data="img/svg-patterns/pattern-7.svg" type="image/svg+xml"></object>
                <object class="patterns pattern-9" data="img/svg-patterns/pattern-9.svg" type="image/svg+xml"></object>
                <object class="patterns pattern-13" data="img/svg-patterns/pattern-13.svg" type="image/svg+xml"></object>
                <object class="patterns pattern-42" data="img/svg-patterns/pattern-42.svg" type="image/svg+xml"></object>
                <object class="patterns pattern-36" data="img/svg-patterns/pattern-36.svg" type="image/svg+xml"></object>
                
        </div>
    </div> -->

        <div class="row" align="center">
            <div class="col-xs-12">

                <img src="img/aft-logo-white.svg" width="330" class="logo">
                <h3> 26 – 27 January, 2018</h3>
                <h3> Rich Mix London, UK</h3>
            </div>
        </div>

        <div class="container">
            <div class="row" align="center">
                <div class="col-xs-12 col-sm-12">
                <h4> A two-day tech festival by and for black people of African and Caribbean heritage. Offering talks, workshops, 
                    installations and much more.</h4>
  
                   <a href="/#about"><button type="button" class="read-more">READ MORE</button></a>
                    
                </div>
            </div>   
            
            </div>
        </div>
