<div class="programme-parties__content">
        <div class="programme-parties__text">
            <p class="white">Hubs are zones across the venue dedicated to learning and conversation around specific themes. Our hub handlers will take care of their designated zone, helping to drive conversations, exercises
                    or debates over the course of the day. This
                year’s themes are:</p>

            <h3 class="white">ETHICS</h3>
            <p class="white">Where technology meets our morals. Exploring AI, machine-learning, bias in algorithms and ‘racist’
                tech.</p>

            <h3 class="white">CRYPTOWORLD</h3>
            <p class="white">Journey into the murky world of data security, privacy and surveillance.</p>

            <h3 class="white">GETTING AHEAD</h3>
            <p class="white">Starting up in the tech world. Focusing on start-ups, entrepreneurship and founders.</p>

            <h3 class="white">DESIGN</h3>
            <p class="white">Explore the importance of effective design in tech. Looking at prototyping, sketching, storyboarding,
                Agile and UX.</p>

            <h3 class="white">MAKERS AND CRAFTERS</h3>
            <p class="white">A space for exploring the world of hardware, modelling, knitting and more.</p>
        </div>
    </div>