{{ $installations := getJSON "data/installations/installations.json" }}

{{ if gt (len .Site.Data.installations) 0 }}
<div class="installations__wrapper">
    <ul class="installations__list">

        {{ range $installations }}
            <li class="installations__list-item">
                <h3 class="subheading--black">{{ .name }}</h4>
                <div class="installations__content">
                    <p class="subtitles">{{ safeHTML .description }}</p>

                    <div class="installations__img-container">
                        <img class="installations__img" src="{{ .image }}" alt="{{ .name }}"/>
                    </div>
                </div>
            </li>
        {{ end }}

    </ul>
</div>
{{ end }}