<div class="programme-parties__content">
    <div class="programme-parties__text">
        <h3 style="margin-top:0px;">Friday</h3>
        <p>The Friday opening party showcases visual and sound artists who have created special pieces for the festival. </p>
        <h4>Interactive Dance Party</h4>
        <p>The Friday opening party showcases visual and sound artists who have created special pieces for the festival. </p>
        <p><b>Credits:</b> <a href="http://haydenanyasi.co.uk/">Hayden Anyasi</a> is a designer and interactive programmer from London. His skills are often applied to digital installations, façades, touch-screens, land and light art, and large scale projections.</p>
        <p>[INFO ON CHARLIE DARK]</p>
        <h4>Performances</h4>
        <p>Sub-Saharan Eritrean by way of London, Lula is a creative enigma, who is carving out a career for herself as a multidisciplinary artist. This approach has led Lula to garner support and success across multiple fields as an actor, singer/songwriter/sound designer, presenter and a MiMu Glover.</p>

    </div>
    <div class="programme-parties__img-container">
        <img class="programme-parties__img" src="../img/ato.png"/>
    </div>
</div>

<div class="programme-parties__text">
    <h3>Saturday</h3>
    <h4>Afrotech Fest Cryptoparty: Mobile Privacy and Security </h4>

<p>For a lot of us our mobile phone is a necessary part of our day to day, but how much do we know about our phones beyond the services they provide? Hosted by <b>Erin</b> and <b>Xana</b>, former Ingenuises at <a href="https://tacticaltech.org/projects/the-glass-room-london/">The Glass Room</a> for Tactical Tech, they will be passing on the knowledge they gained and also some extra tactics for the community. With a guest talk from <a href="https://twitter.com/ukblm?lang=en">BLM UK</a> activists on tech activism during protests, and engagement online and within community. <a href="https://tacticaltech.org/news/data-detox-kit/">Data Detox Kits</a> donated by Tactical Tech will be given to attendees of the cryptoparty to help them on their way to changing their data behaviour.</p>
</div>