<div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 mt-10">

{{ $programme := getJSON "data/programme/programme.json" }}

<div class="programme-container">
    <ul class="programme__tabs">
        {{ range $i, $e := $programme }}
            <li
                class="programme__tab-container programme__tab-{{ .day }} {{ if eq $i 0 }}is-active{{ end }}"
                data-programme-tab="{{ .day }}"
            >
                <h3 class="programme__day">{{ .day }}</h3>
            </li>
        {{ end }}
    </ul>

    {{ range $i, $e := $programme }}
        <div class="programme__item programme-{{ .day }} {{ if eq $i 0 }}is-active{{ end }}">
            {{ range .times }}
                <div class="programme__detail-container">
                    <div class="programme__time-container programme__detail">
                        <h4 class="programme__time">
                            {{ .time }}
                        </h4>
                    </div>

                    <div class="programme__event-group">
                        {{ range .events }}
                            <div class="programme__event-container programme__detail">
                                <ul class="programme__event">
                                    
                                    <li>{{ .event_name }}</li>
                                    <li class="subtitles" style="text-transform:none; margin-bottom:10px;"> {{ .event_participants }}</li>
                                    <li class="subtitles"><span class="event-label" style="margin-right:5px">{{ .event_label }}</span><span class="event-label">{{ .event_venue }}</span></li>


                                </ul>
                            </div>
                        {{ end }}
                    </div>
                </div>

            {{ end }}
        </div>
    {{ end }}
</div>
</div>
</div>