<div class="programme-parties__content">
    <div class="programme-parties__text">
        <p>Friday</p>
        <p>Sed eu lacus cursus metus commodo ultricies. Phasellus faucibus porta lorem, et luctus nibh dictum id. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <p>Sed eu lacus cursus metus commodo ultricies. Phasellus faucibus porta lorem, et luctus nibh dictum id. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
    <div class="programme-parties__img-container">
        <img class="programme-parties__img" src="http://via.placeholder.com/300x300"/>
    </div>
</div>

<div class="programme-parties__text">
    <p>Saturday</p>
    <p>Sed eu lacus cursus metus commodo ultricies. Phasellus faucibus porta lorem, et luctus nibh dictum id. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <p>Sed eu lacus cursus metus commodo ultricies. Phasellus faucibus porta lorem, et luctus nibh dictum id. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
</div>