{{ $speakers := getJSON "data/speakers/speakers.json" }}

{{ if gt (len .Site.Data.speakers) 0 }}
<div class="speakers-container">
    <ul class="speakers__list">

        {{ range $speakers }}
            <li class="speakers__item" title="{{ .name }}">
                <img src="/{{ .image }}" alt="{{ .name }}" class="speakers__img" />
                <h3>{{ .name }}</h3>
                <p class="team-caption">
                    {{ .short_description }}
                </p>
            </li>
        {{ end }}

    </ul>
</div>
{{ end }}

