<h4 class="sponsors-title"> FESTIVAL SPONSORS</h4>
{{ if gt (len .Site.Data.sponsors) 0 }}
    <div class="container-fluid">
            
        <div class="row">
                
            <div class="col-md-12">
                <ul class="sponsors customers">
                    {{ range .Site.Data.sponsors }}
                    <li class="item sponsors-item" title="{{ .name }}">
                        {{ if .url }}
                        <a href="{{ .url }}" target="_blank">
                            <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                        </a>
                        {{ else }}
                        <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" /> {{ end }}
                    </li>
                    {{ end }}
                </ul>
                <!-- /.owl-carousel -->
            </div>
            
        </div>
    </div>
{{ end }}

<h4 class="sponsors-title"> FESTIVAL SUPPORTERS</h4>

{{ if gt (len .Site.Data.supporters) 0 }}
<div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="sponsors customers">
                    {{ range .Site.Data.supporters }}
                    <li class="item sponsors-item" title="{{ .name }}">
                        {{ if .url }}
                        <a href="{{ .url }}" target="_blank">
                            <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                        </a>
                        {{ else }}
                        <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" /> {{ end }}
                    </li>
                    {{ end }}
                </ul>
                <!-- /.owl-carousel -->
            </div>
            
        </div>
    </div>
{{ end }}

