<div class="svgcontent">
    <div class="pattern-6">
        <img src="img/svg-patterns/pattern-6.svg" width="100%" alt="">
    </div>
    
    <div class="pattern-7">
        <img src="../img/svg-patterns/pattern-7.svg" width="100%" alt="">
    </div>
    
    <div class="star-cluster">
        <img src="../img/star-cluster-1.svg" width="100%" alt="">
    </div>
</div>
    
<div class="row">
    <div class="col-xs-12 col-md-9 mt-10">
    
        <h2>VOLUNTEER</h2>
    
        <p>We're seeking engaged, empathetic and enthused people to help us make Afrotech Fest the best tech festival it can be. If you're interested in volunteering at festival, send us a message using the contact form below and we'll send you a volunteer pack.</p>
        
    
        <h3>GUIDELINES</h3>
                    
        <p>All festival volunteers are encouraged to read our <a href="coc">code of conduct</a> and <a href="accessibility">accessibility</a> information.</p>
        <p>Volunteers will also be asked to agree to our Participant Pledge, which helps us ensure Afrotech Fest is a safer space for all attendees.</p>
        
    
    </div>
    
</div>

{{ if isset .Site.Params "email" }}

    <h3>{{ i18n "contactForm" }}</h3>


<div id="contact-message"></div>


<div class="row">
        <div class="col-xs-12 col-lg-8">
<form class="contact-form" method="POST" action="https://formspree.io/{{ .Site.Params.email }}">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name">{{ i18n "contactName" }}</label>
                <input type="text" class="form-control" name="name" id="name" required>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="email">{{ i18n "contactMail" }}</label>
                <input type="email" class="form-control" name="email" id="email" required>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="message">{{ i18n "contactMessage" }}</label>
                <textarea id="message" class="form-control" name="message" required></textarea>
            </div>
        </div>

        <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-template-main"><i class="fa fa-envelope-o"></i>SEND</button>

        </div>
    </div>
    <!-- /.row -->
</form>
        </div>
    </div>

{{ end }}

