{{ if gt (len .Site.Data.team) 0 }}
<div class="team-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="owl-carousel testimonials">
                    {{ range .Site.Data.team }}
                    <li class="item team" title="{{ .name }}">
                        {{ if .url }}
                        <a href="{{ .url }}" target="_blank">
                            <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                        </a>
                        <h3>{{ .name }}</h3>
                        <p class="team-caption">{{ .text}}</p>                        
                        {{ else }}
                        <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" /> {{ end }}
                    </li>
                    {{ end }}
                </ul>
                <!-- /.owl-carousel -->
            </div>
        </div>
    </div>
</div>
{{ end }}
