<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

    <body>

        <div id="all">

            <header>

                {{ partial "nav.html" . }}

            </header>


            

            <div class="container-fluid">
                <div class="row" id="home">
                        <div class="svg-container ">
                                <object type="image/svg+xml" class="patterns pattern-1" data="img/svg-patterns/pattern-1.1.svg" width="100%"></object>
                                <object type="image/svg+xml" class="patterns pattern-2" data="img/svg-patterns/pattern-1.2.svg" width="100%"></object>
                                <object type="image/svg+xml" class="patterns pattern-4" data="img/svg-patterns/pattern-1.4.svg" width="100%"></object>
                                <object type="image/svg+xml" class="patterns pattern-5" data="img/svg-patterns/pattern-1.5.svg" width="100%"></object>
                                <object type="image/svg+xml" class="patterns pattern-6" data="img/svg-patterns/pattern-1.6.svg" width="100%"></object>
                                <object type="image/svg+xml" class="patterns pattern-6-1" data="img/svg-patterns/pattern-1.6.svg" width="100%"></object>                                
                                
                                
                                
                                                            
                                
                        </div>
                        {{ partial "home.html" . }}
                </div>
            </div>

            <div class="container-fluid">
                    {{ range where .Site.Pages "Section" "=" "sections" }}
                    <div class="row" id="{{ .Params.slug }}">
                        <div class="col-xs-12 col-lg-7 pl-50 pb-50 mt-10 stack">
                            {{ .Content }} {{ if isset .Params "id" }} {{ partial .Params.id . }}
                                                        
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}
            </div>            
        </div>
        
        <!-- /#all -->

        {{ partial "scripts.html" . }}

    </body>

</html>