<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
    <div id="all">

        <header>
            {{ partial "nav.html" . }}
        </header>

        <div class="container-fluid">
            <div class="row" id="home">
                <div class="col-xs-12">
                    {{ partial "home.html" . }}
                </div>
            </div>


            </div>
            <div class="container-fluid">
                    
            <div class="row" id="subscribe">
                    
                    <div class="col-xs-12 text-center subscribe">
            
                        <a href="https://afrotechfest.us16.list-manage.com/subscribe?u=8d533bb8d6b8b1bf2cbb6c8af&id=eacce53198">
                            <button type="button" class="subscribe">SIGN UP FOR UPDATES</button>
                        </a>
                       
                    </div>
                </div>
</div>

        <div class="container-fluid">
            {{ range first 4 (where .Data.Pages "Section" "=" "sections") }}
            <div class="row" id="{{ .Params.slug }}">
                <div class="col-xs-12 col-md-10 col-md-offset-1 pb-50 mt-10 stack">
                    {{ .Content }}

                    {{ if isset .Params "id" }}
                        {{ partial .Params.id . }}
                    {{ end }}
                </div>
            </div>
            {{ end }}

        
        </div>
        <div class="container-fluid">
                <div class="row" id="submit">
                    <div class="col-xs-12 col-md-10 col-md-offset-1 pb-50 mt-10 stack">
                        {{ partial "submit.html" . }}
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                    {{ range after 4 (where .Data.Pages "Section" "=" "sections") }}
                    <div class="row" id="{{ .Params.slug }}">
                        <div class="col-xs-12 col-md-10 col-md-offset-1 pb-50 mt-10 stack">
                            {{ .Content }}
        
                            {{ if isset .Params "id" }}
                                {{ partial .Params.id . }}
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}
        
                
                </div>
    <!-- Modal -->
    <div class="modal__container">
            <div class="programme__modal-overlay display__none" tabindex="-1" data-programme-overlay></div>
            <div class="programme__modal display__none" data-programme-modal>
                <h3 data-programme-modal-name></h3>
                <p class="programme-description" data-programme-modal-description></p>
                <p class="programme-participants" data-programme-modal-participants></p>
                <p class="programme-label" data-programme-modal-label></p>
    
                <button class="button-close" data-programme-close></button>
            </div>
        </div>
    
        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

</body>

</html>