<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

    <body>

        <div id="all">

            <header>

                {{ partial "nav.html" . }}

            </header>


            

            <div class="container-fluid">
                <div class="row" id="home">
                        <div class="svg-container ">
                                <object type="image/svg+xml" class="patterns pattern-1" data="img/svg-patterns/pattern-1.svg" width="100%"></object>
                                <object type="image/svg+xml" class="patterns pattern-2" data="img/svg-patterns/pattern-2.svg" width="100%"></object>
                                <object type="image/svg+xml" class="patterns pattern-5" data="img/svg-patterns/pattern-5.svg" width="100%"></object>
                                <object type="image/svg+xml" class="patterns pattern-6" data="img/svg-patterns/pattern-6.svg" width="100%"></object>
                                <object type="image/svg+xml" class="patterns pattern-7" data="img/svg-patterns/pattern-7.svg" width="100%"></object>
                                <object type="image/svg+xml" class="patterns pattern-9" data="img/svg-patterns/pattern-9.svg" width="100%"></object>
                                <object type="image/svg+xml" class="patterns pattern-13" data="img/svg-patterns/pattern-13.svg" width="100%"></object>
                                <object type="image/svg+xml" class="patterns pattern-42" data="img/svg-patterns/pattern-42.svg" width="100%"></object>
                                <object type="image/svg+xml" class="patterns pattern-36" data="img/svg-patterns/pattern-36.svg" width="100%"></object>
                        </div>
                    <div class="col-xs-12 pb-50 mt-10">      
                        {{ partial "home.html" . }}
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                    {{ range where .Site.Pages "Section" "=" "sections" }}
                    <div class="row" id="{{ .Params.slug }}">
                        <div class="col-xs-12 col-lg-7 pl-50 pb-50 mt-10 stack">
                            {{ .Content }} {{ if isset .Params "id" }} {{ partial .Params.id . }} {{ end }}
                        </div>
                    </div>
                    {{ end }}
            </div>
                {{ partial "footer.html" . }}
        </div>
            
        <!-- /#all -->

        {{ partial "scripts.html" . }}

    </body>

</html>