   <!-- Modal -->
   <div class="modal__container">
        <div class="programme__modal-overlay display__none" tabindex="-1" data-programme-overlay></div>
        <div class="programme__modal display__none" data-programme-modal>
            <h3 data-programme-modal-name></h3>
            <p class="programme-description" data-programme-modal-description></p>
            <p class="programme-participants" data-programme-modal-participants></p>
            <p class="programme-label" data-programme-modal-label></p>

 <button class="button-close" data-programme-close></button>
        </div>
    </div>